<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span>千葉の労災指定医療機関を探す</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="#" data-toggle="modal" data-target="#searchModal">詳細検索</a>
        </li>
        <li>
          <%= link_to 'Top', root_path  %>
        </li>
        <li>
          <%= link_to 'このアプリについて', static_pages_about_path %>
        </li>
      </ul>
    </div>
  </div>
</div>