<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
  </div>
</div>
<style>
  #map {
    width: 100%; height: 700px;
  }
</style>
<script type="text/javascript" charset="utf-8">
    var map;
    var current_infowindow;
    var geo_location = <%= raw @geolocation.to_json %>;
    function initMap() {
        var map_option = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'), map_option);
        mapSetMarker();
    }

    function mapResize() {
        google.maps.event.trigger(map, 'resize');
        if(Object.keys(geo_location).length === 0){
            var chiba = new google.maps.LatLng(35.636212, 140.107083);
            map.setCenter(chiba);
        }else{
            map.setCenter(new google.maps.LatLng(geo_location.lat,geo_location.lng));
        }

    }

    function mapSetMarker() {
        var markers = <%= raw @markers.to_json %>;
        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var latlen = new google.maps.LatLng(data.lat,data.lng);
            var marker = new google.maps.Marker({
                position:latlen,
                map: map,
                title:data.name
            });

            (function (marker,data) {
                marker.addListener('click', function() {
                    var infowindow = new google.maps.InfoWindow({
                        content: data.infowindow
                    });
                    if(typeof(current_infowindow) !== 'undefined'){
                        current_infowindow.close();
                    }
                    infowindow.open(map, marker);
                    current_infowindow = infowindow;
                });
            })(marker,data);
        }
    }
</script>